@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --indigo: #0C2743;
  --teal: #15A086;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-indigo: var(--indigo);
  --color-teal: var(--teal);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

button {
  cursor: pointer;
}

@layer utilities {
  .primary_btn {
    @apply bg-teal text-white text-base font-medium px-4 py-2 rounded-md border-1 border-teal hover:bg-white hover:text-teal transition-all duration-300;
  }
  
  .white_btn {
    @apply !bg-white text-teal;
  }

  .form_label {
    @apply text-base font-medium text-slate-600 block my-2;
  }

  /* SIGNUP FORM */
  label {
    @apply text-sm font-medium block mb-1;
  }

  .form_input {
    @apply w-full px-3 py-2 border border-slate-300 text-sm placeholder:text-sm rounded-md focus:outline-none focus:ring-0;
  }
}